Para ser sincero, o ecossistema que faz meu coração bater forte é a possibilidade de fazer muitas coisas com python, desde automação até tratamento de imagens e aprender nem que seja um pouco de cada coisa que eu posso fazer com python me deixa empolgado. 

Nesse código eu automatizei o chrome para pequisar as cotaçôes do Dólar, Euro e do Ouro para atualizar os valores dos produtos importados de uma planilha.

Para automatizar esse código eu utilizei o webdriver e o Selenium (que são ferramentas open source para automatização web)

E utilizei o jupyter para desenvolver o código

In [2]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

# Abrindo Chrome
nav = webdriver.Chrome()

# Pesquisando a cotação do dolar
nav.get("https://www.google.com.br/")
nav.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('Cotação Dólar')
nav.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_dolar = nav.find_element_by_xpath('//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(cotacao_dolar)

# Pesquisando a cotação do euro
nav.get("https://www.google.com.br/")
nav.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('Cotação Euro')
nav.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
cotacao_euro = nav.find_element_by_xpath('//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(cotacao_euro)

#Pesquisando a cotação do ouro
nav.get("https://www.melhorcambio.com/ouro-hoje#:~:text=O%20valor%20do%20grama%20do,em%20R%24%20292%2C00.")
cotacao_ouro = nav.find_element_by_xpath('//*[@id="comercial"]').get_attribute('value')

# Aqui eu tive que mudar a vírgula do valor para um ponto pro python reconhecer como valor
cotacao_ouro = cotacao_ouro.replace(",", ".")
print(cotacao_ouro)

nav.quit()

5.2168
6.1546763040000005
302.87

Agora eu irei importar uma base de dados básica e utilizarei a blibioteca pandas para trabalhar com ela

In [3]:
import pandas as pd
# Lendo o arquivo
tabela = pd.read_excel("Produtos.xlsx")
# Eu poderia usar o (print) para exibir a planilha mas a visualização ficaria ruim
display(tabela)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Ajuste,Preço Final
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

Agora é só atualizar os valores

In [4]:
tabela.loc[tabela["Moeda"] == "Dólar", "Cotação"] = float(cotacao_dolar)
tabela.loc[tabela["Moeda"] == "Euro", "Cotação"] = float(cotacao_euro)
tabela.loc[tabela["Moeda"] == "Ouro", "Cotação"] = float(cotacao_ouro)
tabela["Preço Base Reais"] = tabela["Cotação"] * tabela["Preço Base Original"]
tabela["Preço Final"] = tabela["Preço Base Reais"] * tabela["Ajuste"]
display(tabela)

,Produtos,Preço Base Original,Moeda,Cotação,Preço Base Reais,Ajuste,Preço Final
0,Câmera Canon,999.99,Dólar,5.216800,5216.747832,1.40,7303.446965
1,Carro Renault,4500.00,Euro,6.154676,27696.043368,2.00,55392.086736
2,Notebook Dell,899.99,Dólar,5.216800,4695.067832,1.70,7981.615314
3,IPhone,799.00,Dólar,5.216800,4168.223200,1.70,7085.979440
4,Carro Fiat,3000.00,Euro,6.154676,18464.028912,1.90,35081.654933
5,Celular Xiaomi,480.48,Dólar,5.216800,2506.568064,2.00,5013.136128
6,Joia 20g,20.00,Ouro,302.870000,6057.400000,1.15,6966.010000

Agora só exportar a tabela atualizada

In [ ]:
tabela.to_excel("Produtos Atualizados.xlsx")